<h1>Here are the cars!</h1>
<% @cars.each do |car| %>
  <h2><%= car.brand %></h2>
  <h3><%= car.model %></h3>
  <p><%= car.created_at.strftime("%a %b %e at %l%M %p") %></p>
  <div><%= car.owner.nickname %></div>
<% end %>
